streamlit==1.28.1
google-generativeai==0.3.2
python-dotenv==1.0.0
moviepy==1.0.3
opencv-python-headless==4.10.0.84
Pillow==10.2.0
python-docx==0.8.11
google-api-python-client==2.142.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
httplib2==0.22.0
imageio-ffmpeg==0.4.9
rich==13.9.4
